<h3>{{ level.meta.stats.completedPercentage|round }}% <span class="small">pass rate</span></h3>
<div class="progress progress--small">
    <div class="progress-bar" style="width: {{ level.meta.stats.completedPercentage }}%"></div>
</div>
<div class="right small" title="completed vs attempted">{{ level.meta.stats.completed|number_format }} of {{ level.meta.stats.started|number_format }}</div>