{% set queue = queue('classes', 'sidebar', 'shop') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide">

        <div class="row">
            <div class="nine columns">
                {% include 'includes/flash.twig' %}

                <div class="block block--shop">
                    <div class="block-heading">
                        <h1>Shop</h1>
                    </div>
                    <div class="block-content">
                        {% for item in products|reverse %}
                            <div class="shop-item">
                                <a href="/shop/{{ item.id }}">
                                    <img src="{{ item.images.0 }}" {% if item.images.1 %}data-image-alternative="{{ item.images.1 }}"{% endif %}/>
                                </a>

                                <div class="shop-item-description">
                                    <div class="right c-highlight">£{{ (item.metadata.price/100)|number_format(2) }}</div>
                                    <h3>{{ item.name }}</h3>
                                    <p>{{ item.caption }}</p>
                                    <a href="/shop/{{ item.id }}" class="button button--wide button--main">View product</a>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                </div>

                <div class="block">
                    <div class="block-content">
                        <p><strong>Free shipping is included with all orders</strong></p>
                        <p>Items may be shipped from the EU or USA so please allow time for delivery. If you have any issues or concerns please <a href='/help/contact'>contact us</a></p>
                    </div>
                </div>
            </div>
            <div class="three columns">
                {% include 'shop/sidebar.twig' %}
            </div>
        </div>

    </div>

{% endblock %}