{% set queue = queue('classes', 'sidebar') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h1>{{ breadcrumb|keys|last }}</h1>
            </div>

            <div class="block-content">
                <p>Userbars are small graphics that you can use in your signature for any forum. Tell the world about {{ site.title }}</p>
                <div class="row">
                    <div class="four columns center">
                        <img src="{{ site.domain }}/user/{{ user.username }}/userbar.png"/>
                        <pre>[url={{ site.domain }}][img]{{ site.domain }}/user/{{ user.username }}/userbar.png[/img][/url]</pre>
                    </div>
                    <div class="four columns center">
                        <img src="{{ site.domain }}/user/{{ user.username }}/userbar.png?display=name"/>
                        <pre>[url={{ site.domain }}][img]{{ site.domain }}/user/{{ user.username }}/userbar.png?display=name[/img][/url]</pre>
                    </div>
                    <div class="four columns center">
                        <img src="{{ site.domain }}/user/{{ user.username }}/userbar.png?display=both"/>
                        <pre>[url={{ site.domain }}][img]{{ site.domain }}/user/{{ user.username }}/userbar.png?display=both[/img][/url]</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}