{% if discussions is iterable %}
    <div class="block feed dashboard-feed discussion-list">
        <div class="block-heading">
            <h2>Hot discussions</h2>
        </div>
        <div class="block-content discussion-list-threads">
            {% for item in discussions %}
                {% include 'discussions/rollup.twig' with { thread: item, dashboard: true } %}
            {% endfor %}
        </div>
    </div>
{% endif %}