{% extends 'emails/base.twig' %}

{% block html %}
    <tr>
        <td style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#333;" align="center">Hello {{ username }}</td>
    </tr>

    <tr><td height="10">&nbsp;</td></tr>

    <tr>
        <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;" align="center">
            {{ message|raw }}
        </td>
    </tr>
{% endblock %}