{% set title = 'Messages' %}
{% set queue = queue('classes', 'sidebar', 'messages', (conversation or form ? 'messages--conversation' : 'messages--list')) %}
{% set queue2 = queue('scripts', '/js/messages.min.js') %}
{% extends 'layout/main.twig' %}

{% block content %}

    <div class="messages">
        {% if messages|length %}
            <div class="messages-sidebar">
                <div class="messages-list">
                    {% for convo in messages %}
                        {% set latest = convo.getLatestMessage() %}
                        {% set participants = convo.participants|filter(id => id != user.id) %}
                        {% if participants|length %}
                            {% set from = getUser(latest.from != user.id ? latest.from : participants|first) %}
                        {% else %}
                            {% set from = getUser(user.id) %}
                        {% endif %}
                        <a href='/message/{{ convo.id }}?page={{ page }}' class="messages-list-item {% if convo.updated > convo.seen %}messages-list-item--new{% endif %} {% if convo.id == conversation.id %}messages-list-item--active{% endif %}">
                            <div class="messages-list-item-preview">
                                <div class="messages-list-item-preview-header">
                                    <strong>
                                        {% if from and from.id == user.id %}
                                            You
                                        {% elseif from %}
                                            {{ from.username }}

                                            {% if participants|length > 1 %}
                                                + {{ participants|length - 1 }} 
                                            {% endif %}
                                        {% else %}
                                            [deleted user]
                                        {% endif %}
                                    </strong>
                                    <span class="small">{{ convo.updated|ago(null, false) }}</span>
                                </div>
                                <p>
                                    {{ latest.preview|raw|truncate(80) }}
                                </p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
                <div class="messages-list-nav">
                    {% if page > 1 %}
                        <a href='?page={{ page - 1}}'><i class="fa fa-chevron-left"></i></a>
                    {% endif %}
                    <a href='?page={{ page + 1}}' class="messages-list-nav-next"><i class="fa fa-chevron-right"></i></a>    
                </div>
            </div>
        {% endif %}
        <div class="messages-conversation">
            {% include 'messages/list-conversation.twig' %}
        </div>
    </div>

    <script>
        var conversationDiv = $(".messages-conversation-content")[0];
        conversationDiv.scrollTop = conversationDiv.scrollHeight;
    </script>

{% endblock %}