{% if conversation or form %}

    {% if conversation %}
        <div class="messages-conversation-header">
            <div class="messages-conversation-participants">
                {% set participants = conversation.participants|filter(id => id != user.id) %}
                {% if participants|length == 0 %}
                    You
                {% elseif participants|length == 1 %}
                    {% set participant = getUser(participants|first) %}
                    {{ getImage(participant.avatar, "navatar", "mobile-hide")|raw }}
                    {{ participant.getLink()|raw }}
                    {% if participant.beingFollowed() %}
                        <span class="tag tag--green mobile-hide" title="You are following {{ participant.username }}">Following</span>
                    {% endif %}
                {% else %}
                    <div>
                        Participants: You, 
                        {% for participant in participants %}
                            {% set participant = getUser(participant) %}
                            {% if participant %}
                                {{ participant.getLink()|raw }}{{ loop.last ? '' : ', ' }}
                            {% else %}
                                [deleted user]{{ loop.last ? '' : ', ' }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="messages-conversation-controls">
                <div class="button-group">
                    <a href='?action=delete' class='button' csrf>
                        <i class="fa fa-trash"></i>
                        <span class="mobile-hide">Delete</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="messages-conversation-content">
        {% if conversation %}
            {% include 'includes/flash.twig' %}
            <div class="messages-conversation-messages">
                {% for message in conversation.getMessages() %}

                    <div class="messages-conversation-message {% if message.from == user.id %}messages-conversation-message--you{% endif %}">
                        {% set from = getUser(message.from) %}

                        <div class="messages-conversation-message-meta">
                            <div class="right">
                                {{ message.sent|ago }}
                            </div>
                            {% if from %}
                                {{ from.getLink()|raw }}
                            {% else %}
                                <strong>[deleted user]</strong>
                            {% endif %}
                        </div>
                        {{ message.message.html|raw }}

                        <a href="{{ from.permalink }}" class="messages-conversation-message-avatar" style="background-image: url({{ getImageSrc(from.avatar, "navatar")|raw }})"></a>
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        {% include 'includes/flash.twig' %}
        {% if user.canContribute() %}
            {% include 'includes/form.twig' with { form: form } %}
        {% endif %}
    </div>

{% else %}
    {% include 'includes/flash.twig' %}

    <div class="messages-conversation-blank">
        <a href='/messages/new' class="button button--secondary">Start a new conversation</a>
    </div>
{% endif %}