{% set title = 'Chat' %}
{% set queue = queue('classes', 'sidebar', 'chat') %}
{% extends 'layout/main.twig' %}

{% block content %}

    <div id="content" class="container">
        <div class="block">
            <div class="block-heading">
                <h2>Chat</h2>
            </div>
            <div class="block-content">
                <p>The integrated chat client is not ready for primetime ... yet. Please follow the instructions below for the temporary workaround.</p>

                <ul>
                    <li>Go to <a traget='_blank' href='https://riot.im/app/'>riot.im/app</a></li>
                    <li>Click sign in</li>
                    <li>Click change next to "Sign in to your Matrix account on matrix.org"</li>
                    <li>Change homeserver URL to https://defendtheweb.co.uk and click next</li>
                    <li>Enter your Defend the Web username and password</li>
                    <li>Click explore in the top left corner and join Defend the Web HQ</li>
                </ul>

                <p>For a better experience read our <a href='/help/how-to/using-chat-and-matrix'>documentation about</a>
            </div>
        </div>
    </div>

{% endblock %}