{% set thread = getDiscussion(thread) %}

{% set author = getUser(thread.author) %}
{% set updated_by = getUser(thread.updated_by) %}

{% if not dashboard or thread.hasAccess() %}
    <div class="discussion-list-thread {% if thread.locked %}discussion-list-thread--locked{% endif %} {% if not thread.hasAccess() %}discussion-list-thread--denied{% endif %} feed-item">
        <div class="feed-item-main">
            <div class="feed-item-header">
                <a href='{{ thread.permalink }}' data-href="permalink" class="feed-item-count mobile-hide">
                    <div class="{% if thread.post_count == 0 %}no-replies{% endif %}" data-text="post_count">{{ thread.post_count }}</div>
                </a>
                {% if author %}
                    <a class="feed-item-avatar" href='{{ thread.permalink }}'>{{ getImage(author.avatar, "navatar")|raw }}</a>
                {% else %}
                    <span class="feed-item-avatar"></span>
                {% endif %}
                <div class="feed-item-details">
                    <a href='{{ thread.permalink }}' data-href="permalink" class="discussion-list-thread-details feed-item-title" data-text="title">
                        {{ thread.title }}
                    </a>

                    {% if thread.answer %}
                        <span class="tag tag--primary" title="This thread has been answered">
                            <i class="fas fa-check-circle"></i> answered
                        </span>
                    {% endif %}
                    {% if thread.spoiler %}
                        <span class="tag tag--red" title="This thread may contain spoilers">
                            <i class="fas fa-exclamation-circle"></i> spoiler
                        </span>
                    {% endif %}

                    <div class="small">
                        {% if author %}
                            {{ author.getLink('data-text="author"')|raw }}
                        {% else %}
                            <strong data-text="author">[deleted user]</strong>
                        {% endif %}
                        &middot; 
                        {% if thread.post_count > 0 %}
                            {% if updated_by.id != author.id %}
                                {{ updated_by.getLink('data-text="update_by"')|raw }}
                            {% elseif not updated_by %}
                                <span data-text="update_by">[deleted user]</strong>
                            {% endif %} replied
                        {% endif %}
                        {{ thread.updated|ago }}
                    </div>
                    <div class="small mobile-show">
                        {{ thread.post_count }} replies &middot; 
                        {% if thread.topic.parent %}
                            <a href="/discussions/{{ thread.topic.parent.slug }}">{{ thread.topic.parent.title }}</a> > 
                        {% endif %}
                        {% if thread.level_id %}
                            {% set level = getLevel(thread.level_id) %}
                            <a href="/discussions/{{ thread.topic.slug }}">{{ level.title }}</a>
                        {% else %}
                            <a href="/discussions/{{ thread.topic.slug }}">{{ thread.topic.title }}</a>
                        {% endif %}
                    </div>
                </div>
                {% if not dashboard %}
                    <div class="discussion-list-topic mobile-hide">
                        {% if thread.topic.parent %}
                            {% if thread.level_id %}
                                {% set level = getLevel(thread.level_id) %}
                                <a class="feed-item-type" href="/discussions/{{ thread.topic.slug }}">{{ thread.topic.title }}</a>
                                <div class="feed-item-subtype">{{ level.title }}</div>
                            {% else %}
                                <a class="feed-item-type" href="/discussions/{{ thread.topic.parent.slug }}">{{ thread.topic.parent.title }}</a>
                                <a class="feed-item-subtype" href="/discussions/{{ thread.topic.slug }}">{{ thread.topic.title }}</a>
                            {% endif %}
                        {% else %}
                            <a class="feed-item-type feed-item-type--parent" href="/discussions/{{ thread.topic.slug }}">{{ thread.topic.title }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        {% if not thread.hasAccess() %}
            <div class="feed-item-denied">
                {% set level = getLevel(thread.level_id) %}
                <div>You must complete <a href="/playground/{{ level.slug }}">{{ level.title }}</a> to access this conversation</div>
            </div>
        {% endif %}
    </div>
{% endif %}