<div class="block">
    <div class="block-heading">
        <h3>Levels</h3>
    </div>
    <div class="block-content">

        {% for a in levels %}
            {% set level = getLevel(a.id) %}
            <div class="level">
                <a href='/playground/{{ level.slug }}'>
                    <h3>
                        {{ level.title }}
                        {% if attribute(user.levels, level.ID).started %}
                            <span class="small">
                                {{ attribute(user.levels, level.ID).hasCompleted ? 'completed' : 'started' }}
                            </span>
                        {% endif %}
                    </h3>
                </a>
                <p>
                    {{ level.difficulty|capitalize }} <psan class="small">|</psan>
                    Completions: {{ level.meta.stats.completed|number_format }} <psan class="small">|</psan>
                    Pass rate: {{ level.meta.stats.completedPercentage }}%
                </p>
            </div>
        {% endfor %}

    </div>
</div>