{% set queue = queue('classes', 'sidebar', 'search') %}

{% set col1 = (results.articles is iterable or results.pages is iterable or results.discussions is iterable) %}
{% set col2 = (results.users is iterable or results.levels is iterable) %}

{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide search">
        <div class="block">
            <div class="block-heading">
                <h1>Search</h1>
            </div>
            <div class="block-content">
                <div class="row">
                    {% include 'includes/form.twig' with { form: getSearchForm(term) } %}
                </div>

                <div class="row search-results">
                    {% if results %}
                        {% if col1 %}
                            <div class="{{ col2 ? 'eight' : 'twelve' }} columns">
                                {% if results.pages is iterable and results.pages|length %}
                                    {% include 'search/results-pages.twig' with { pages: results.pages } %}
                                {% endif %}

                                {% if results.articles is iterable and results.articles|length %}
                                    {% include 'search/results-articles.twig' with { articles: results.articles } %}
                                {% endif %}

                                {% if results.discussions is iterable and results.discussions|length %}
                                    {% include 'search/results-discussions.twig' with { discussions: results.discussions } %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if col2 %}
                            <div class="{{ col1 ? 'four' : 'twelve' }} columns">
                                {% if results.levels is iterable and results.levels|length %}
                                    {% include 'search/results-levels.twig' with { levels: results.levels } %}
                                {% endif %}

                                {% if results.users is iterable and results.users|length %}
                                    {% include 'search/results-users.twig' with { users: results.users, wide: not col1 } %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% elseif exception %}
                        <h3 class="center">{{ exception }}</h3>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}