{% set queue = queue('classes', 'auth') %}
{% set queue = queue('styles', '/css/auth.css') %}
{% set queue = queue('scripts', '/vendor/mailcheck.min.js', '/js/auth.min.js') %}
{% extends 'layout/base.twig' %}

{% block html %}

    <div class="container">
        <div class="auth-nav">
            <a href='/auth/logout'>&lt; cancel</a>
        </div>
        <div class="auth-local">
            <div class="auth-2fa active">
                <form action="/auth/2fa" method="post">
                    <input type="hidden" name="token" value="{{ token }}"/>

                    <p>Two-factor authentication is enabled on your account. Enter the code from your authenticator app below to verify.</p>

                    {% include 'includes/flash.twig' %}

                    <div class="input">
                        <label for="twoFactor">Authentication code</label>
                        <input type="text" name="twoFactor" id="twoFactor" autocomplete="off" autocorrect="off" autocapitalize="none">
                    </div>
                    {% if not remember %}
                        <div class="input input--checkbox">
                            <input type="checkbox" name="twoFactor-remember" id="twoFactor-remember"/>
                            <label for="twoFactor-remember">Don't ask again on this computer</label>
                        </div>
                    {% endif %}

                    <div class="row-fluid">
                        <div class="six columns">
                            &nbsp;
                        </div>
                        <div class="six columns">
                            <button type="submit" class="button button--main button--wide">Verify</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}