{% set queue = queue('classes', 'auth') %}
{% set queue = queue('styles', '/css/auth.css') %}
{% set queue = queue('scripts', '/vendor/mailcheck.min.js', '/js/auth.min.js') %}
{% extends 'layout/base.twig' %}

{% block html %}

    <div class="container">
        <div class="auth-nav">
            <a href='/'>&lt; back to site</a>
        </div>
        <ul class="auth-tabs">
            <li class="{% if not signup %}active{% endif %}" data-target="auth-local-login"><a href='/auth'>Login</a></li>
            <li class="{% if signup %}active{% endif %}" data-target="auth-local-signup"><a href='/auth/signup'>Sign up</a></li>
        </ul>
        <div class="auth-local">
            <div class="auth-local-login {% if not signup %}active{% endif %}">
                {% include 'includes/flash.twig' with { group: 'auth.login' } %}

                <form action="/auth" method="post">
                    <input type="hidden" name="token" value="{{ token }}"/>
                    <div class="input">
                        <label for="login-username">Username</label>
                        <input type="text" name="username" id="login-username" placeholder="Username" autocorrect="off" autocapitalize="none" value="{{ tmpDetails.username }}"/>
                    </div>
                    <div class="input">
                        <label for="login-password">Password</label>
                        <input type="password" name="password" id="login-password" placeholder="Password"/>
                    </div>
                    <div class="input input--checkbox">
                        <input type="checkbox" name="remember" id="login-remember"/>
                        <label for="login-remember">Remember me</label>
                    </div>

                    <div class="row">
                        <div class="six columns">
                            <a href="/auth/forgot" class="button button--wide">Forgotten password?</a>
                        </div>
                        <div class="six columns">
                            <button type="submit" class="button button--main button--wide">Log in</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="auth-local-signup {% if signup %}active{% endif %}">
                {% include 'includes/flash.twig' with { group: 'auth.signup' }  %}

                <form action="/auth/signup" method="post">
                    <input type="hidden" name="token" value="{{ token }}"/>
                    <div class="input">
                        <label for="signup-username">Username</label>
                        <input type="text" name="username" id="signup-username" placeholder="Username" autocorrect="off" autocapitalize="none" value="{{ tmpDetails.username }}">
                    </div>
                    <div class="input">
                        <label for="signup-email">Email</label>
                        <input type="email" name="email" id="signup-email" placeholder="Email" autocorrect="off" autocapitalize="none" value="{{ tmpDetails.email }}">
                    </div>
                    <div class="input">
                        <label for="signup-password">Password</label>
                        <input type="password" name="password" id="signup-password" placeholder="Password" autocomplete="new-password">
                    </div>

                    <p>By providing my information and clicking on the sign up button, I confirm that I have read and agree to this website's <a href='/legal/terms' target='_blank'>terms of use</a> and <a href='/legal/privacy' target='_blank'>privacy policy</a>.</p>

                    <p>All members must abide by the <a href='/help/conduct/code-of-conduct' target='_blank'>Code of Conduct</a>. Failing to do so will result in your account being terminated.</p>

                    <div class="row">
                        <div class="six columns">
                            &nbsp;
                        </div>
                        <div class="six columns">
                            <button type="submit" class="button button--main button--wide">Sign up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="auth-social">
            <a href='/auth/facebook' class='auth-social--facebook'><i class="fab fa-facebook-f" aria-hidden="true"></i> Login with Facebook</a>
            <a href='/auth/twitter' class="auth-social--twitter"><i class="fab fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
            <a href='/auth/google' class='auth-social--google'><i class="fab fa-google" aria-hidden="true"></i> Login with Google</a>
            <a href='/auth/github' class='auth-social--github'><i class="fab fa-github" aria-hidden="true"></i> Login with GitHub</a>
        </div>
    </div>

{% endblock %}