{% if articlePicks is iterable %}
    <div class="block article-picks">
        <div class="block-heading">
            <h2>{{ title ? title : "Editor's Pick" }}</h2>
        </div>
        <div class="block-content">
            <div class="row article-picks-article article-picks-article--latest">
                {% set article = getArticle(articlePicks.0) %}

                <a href='{{ article.permalink }}' class="five columns article-picks-article-image" style="background-image: url({{ getImageSrc(article.image, 'lazy') }})" data-lazy-image-size="large"></a>
                <div class="seven columns article-picks-article-content">
                    <a href='{{ article.permalink }}'><h2>{{ article.titleSafe|raw }}</h2></a>
                    <p>
                        {{ article.content.safe|raw|truncate(250, '...', false, false) }}
                    </p>
                    <div>
                        <a href='{{ article.permalink }}' class='button'>Read more</a>
                    </div>
                </div>
            </div>

            {% if older == true %}
                <div class="article-picks-older">
                    {% for articleID in articlePicks|slice(1,4) %}
                        {% set article = getArticle(articleID) %}

                        <div class="article-picks-article">
                            <a href='{{ article.permalink }}' class="article-picks-article-image" style="background-image: url({{ getImageSrc(article.image, 'lazy') }})" data-lazy-image-size="large"></a>

                            <div>
                                <a href='{{ article.permalink }}'><h3>{{ article.titleSafe|raw }}</h3></a>
                                <p>
                                    {{ article.content.safe|raw|truncate(80) }} <a href='{{ article.permalink }}' class="button button--small">Read more</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}