{% set title = article.title %}
{% set queue = queue('classes', 'sidebar', 'article') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide article" data-article-id="{{ article.id }}">
        <div class="row">
            <div class="nine columns article-container">
                {% if flash %}
                    {% include 'includes/flash.twig' %}
                {% elseif article.revisionID %}
                    <div class="msg">This is an old revision of this article</div>
                {% elseif article.isInReview() %}
                    <div class="msg">Article is in review</div>
                {% elseif article.isDeclined() and not article.isAuthor %}
                    <div class="msg">Article was declined</div>
                {% endif %}

                <article itemscope itemtype='http://schema.org/Article'>
                    <meta itemprop="wordCount" content="{{ article.content.words }}"/>
                    <!-- <meta itemprop="interactionCount" content="UserComments:14"/> -->

                    {% if article.image %}
                        <div class="article-hero" style="background-image: url({{ getImageSrc(article.image, 'lazy') }})" data-lazy-image-size="large"></div>
                    {% endif %}
                    <h1 class='article-title {% if not article.image %}article-title--no-image{% endif %}' itemprop="name">{{ article.titleSafe|raw }}</h1>
                    <div class='article-body' itemprop='articleBody'>
                        {{ article.content.html|raw }}
                    </div>
                </article>
            </div>

            <div class="three columns">

                {% if article.isAuthor %}
                    {% if article.isInReview() %}
                        <div class="block">
                            <div class="block-heading">
                                <h3>Article is in review</h3>
                            </div>
                            <div class="block-content">
                                <p>A moderator will evaluate your submission shortly. You will be notified when they have updated the status of this article.</p>
                            </div>
                        </div>
                    {% elseif article.isDeclined %}
                        <div class="block block--error">
                            <div class="block-heading">
                                <h3>Article has been declined</h3>
                            </div>
                            <div class="block-content">
                                <p>This article has been declined by an article moderator. If you feel that you can improve the article please do so and resubmit.</p>
                                {% if article.log %}
                                    <div class="block block--highlight">
                                        {{ article.log }}
                                    </div>
                                {% endif %}
                                <p>If you would like more detailed feedback please contact the moderator directly or open a new ticket.</p>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}

                {% if article.isEditable() and not article.revisionID %}
                    {% if article.isAuthor and not article.isPublished() %}
                        {% if not article.isInReview() %}
                            <div class="block block--clean">
                                <div class="block--content">
                                    <a class="button button--wide button--wide-clean" href="{{ article.permalink }}/edit">Edit article</a>
                                </div>
                            </div>

                            {% if not article.isDeclined %}
                                <div class="block block--highlight">
                                    <div class="block-content">
                                        <p>
                                            This article has not been sent for review. Once you are happy with your article click the button below for it to be checked by a moderator.
                                        </p>
                                        {% if article.isDraft() %}
                                            <a class="button button--main button--wide" href="{{ article.permalink }}/submit">Submit for review</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    {% if user.hasPrivilege('articles.publish') %}
                        {% if article.isInReview() %}
                            <div class="block block--controls">
                                <div class="block-heading">
                                    <h3>Moderator tools</h3>
                                </div>
                                <div class="block-content">
                                    <form method="POST">
                                        {{ getTokenField() }}
                                        <div class="button-group button-group--wide">
                                            <a class="button button--warning" href='#' data-toggle=".article-decline">Decline</a>
                                            <input type="submit" class="button button--main" value="Publish"/>
                                        </div>
                                        <input type="hidden" name="action" value="publish"/>
                                    </form>

                                    <form class="hide article-decline" style="margin-top: 2em; clear: both" method="POST">
                                        {{ getTokenField() }}
                                        <input type="hidden" name="action" value="decline"/>
                                        <textarea name="message" placeholder="Provide a resason for declining this article..."></textarea>
                                        <input type="submit" class="button button--warning right" value="Decline"/>
                                    </form>
                                </div>
                            </div>
                        {% endif %}

                        {% if article.isInReview() or article.isPublished() %}
                            <div class="block block--clean">
                                <div class="block--content">
                                    <a class="button button--wide button--wide-clean" href="{{ article.permalink }}/edit">Edit article</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if article.isPublished() %}
                    {% if article.author != 69 %}
                        {% include 'profile/rollup.twig' with { 'profile': getUser(article.author), 'title': 'Author', 'small': true, 'status': true } only %}
                    {% endif %}

                    <div class="block">
                        <div class="block-content">
                            <h3>
                                {{ article.views|number_format }}
                                <span class="small">view{{ article.views == 1 ? '' : 's' }}</span>
                            </h3>
                        </div>
                    </div>

                    {% include 'includes/share.twig' %}

                    {% include 'includes/advert.twig' %}

                    <div class="block">
                        <div class="block-content">
                            This article is available under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike</a> unless otherwise noted.
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}