.block {
    background: $block_bg;
    box-shadow: $block_shadow;

    @include dark-mode {
        background: $dark_block_bg;
        box-shadow: $dark_block_shadow;
    }

    margin-bottom: 2rem;
    // overflow: hidden; // Needs to be visible for drop down

    &.block--clear {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &.block--clear {
        overflow: hidden;
    }

    &.block--advert {
        @media (max-width: $mobileWidth) {
            margin-left: 3em;
            margin-right: 3em;
        }
    }

    &.block--blank {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        flex-direction: column;

        padding: 5em 0;

        .block-content {
            text-align: center;

            i {
                font-size: 4em;
                margin-bottom: 0.3em;
                color: $text_subtle;

                @include dark-mode {
                    color: $dark_text_subtle;
                }
            }
        }
    }

    &.block--share {
        .block-content {
            display: flex;
            justify-content: space-around;

            a {
                font-size: 3rem;

                i.fa-facebook {
                    color: #3b5998;
                }

                i.fa-twitter {
                    color: #08a0e9;
                }

                i.fa-reddit {
                    color: #FF4500;
                }

                i.fa-digg {
                    color: #000;
                }

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .block:not(.block--highlight) {
        margin-bottom: 4rem;
    }

    .block:not(.block--highlight),
    &.block--clean {
        background: none;
        box-shadow: none;

        .block-heading {
            padding-top: 0;
            padding-left: 0;
            padding-right: 0;

            ~ .block-content {
                padding-top: 20px;
            }
        }

        .block-content {
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
        }

        &.block--clean .block-content {
            padding-top: 0;
        }

        @include dark-mode {
            background: none;
            box-shadow: none;
        }
    }

    &.block--highlight {
        background: $secondary;
        color: white;

        > .block-heading {
            color: white;
        }
    }

    &.block--error {
        > .block-heading {
            background: $error;
            color: white;

            &::after {
                border: none;
            }
        }
    }

    .block--highlight {
        background: $block_bg_secondary;
        color: $text;

        > .block-heading {
            color: $text;
        }

        @include dark-mode {
            background: $dark_block_bg_secondary;
            color: $dark_text;

            > .block-heading {
                color: $dark_text;
            }
        }
    }

    .block-heading {
        padding: 20px;
        padding-bottom: 0;

        &::after {
            display: block;
            content: "";
            padding: 10px 20px 0;
            border-bottom: 1px solid $accent;

            @include dark-mode {
                border-bottom-color: $dark_accent;
            }
        }

        &.block-heading--primary,
        &.block-heading--secondary {
            padding-bottom: 20px;
            color: white;

            &.block-heading--primary {
                background: $primary;
            }

            &.block-heading--secondary {
                background: $secondary;
            }

            &::after {
                display: none;
            }

            a {
                color: white;

                &:hover {
                    text-decoration: underline;
                }
            }

        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
    }

    .block-content {
        padding: 20px;

        &.block-content--flex {
            display: flex;

            > div {
                flex: 1 1 auto;

                &:not(:first-child) {
                    margin-left: 5em;
                }
            }

            @media (max-width: $mobileWidth) {
                flex-direction: column;

                > div {
                    &:not(:first-child) {
                        margin-top: 5em;
                        margin-left: 0;
                        width: 100%;
                    }
                }
            }
        }

        > .block-content {
            padding: 0;
        }

        ~ .block-content {
            padding-top: 0;
            margin-top: -20px;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }
}