body.dashboard {

    .dashboard-news {
        .dashboard-news-page {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &:not(:first-child) {
                display: none;
            }

            .dashboard-news-item {
                flex: 0 0 45%;
                border-top: 0;
                padding-top: 0;
                padding-bottom: 3rem;

                .dashboard-news-item-title {
                    font-size: 1.2em;
                    margin-bottom: 0.3em;
                    display: block;
                }
            }
        }

        .dashboard-news-navigation {
            text-align: center;

            a:not(.active) {
                opacity: 0.4;
                text-decoration: none;

                &:hover {
                    cursor: default;
                    color: $primary;
                }
            }
        }

        @media (max-width: $mobileWidth) {
            .dashboard-news-page {
                .dashboard-news-item {
                    flex-basis: 100%;

                    &:nth-child(n+5) {
                        display: none;
                    }
                }
            }

            .dashboard-news-navigation {
                display: none;
            }
        }
    }

}