@import 'normalize';
@import 'skeleton';

html, body {
    // height: 100%;
}

body {
    margin-top: $header_height;
    background: $page_bg;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;

    color: $text;
    font-family: $text_font;
    font-weight: 300;

    font-size: 14px;
    line-height: 1.6em;

    @include dark-mode() {
        background: $dark_page_bg;
        color: $dark_text;
    }
   

    .container {
        // max-width: 960px;
        max-width: 1220px;

        &.container--wide {
            max-width: 1220px;
            // max-width: 100%;
        }

        &.container--full {
            max-width: 100%;
        }

        @media (max-width: $mobileWidth) {
            .columns:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        .row--flex {
            display: flex;

            > .column {
                flex: 1 1 auto;
            }
        }
    } 

    &.sidebar {
        .container {
            margin: 0;
            padding: 3rem;
            
            margin: 0 auto;

            @media (max-width: $mobileWidth) {
                padding: 1.5rem;
                padding: 0;
            }
        }

        @media (min-width: $desktopWidth) {
            margin-left: $sidebar_width;
        }
    }
}

.center {
    text-align: center;
}

.fa, .fas {
    font-weight: 900 !important; // override small class breaking icons
}

.fa-hidden {
    visibility: hidden;
}

[class^="col"].center {
    display: inline-block;
    float: none;
}

.logo {
    font-family: $text_header_font;
    font-weight: 300;
}


*, *::before, *::after {
    box-sizing: border-box;
    word-wrap: break-word;
    // word-break: break-all;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1, h2, h3 {
    font-family: $text_header_font;
    letter-spacing: 1px;
    color: inherit;
}
h1 { font-size: 3.0rem; line-height: 1.2; }
h2 { font-size: 2.4rem; line-height: 1.25; }
h3 { font-size: 1.8rem; line-height: 1.3; }
h4 { font-size: 1.5rem; line-height: 1.35; }
h5 { font-size: 1.2rem; line-height: 1.5; }
h6 { font-size: 1rem; line-height: 1.6; }



h3, h4 {
    margin-bottom: 0.2em;
}

@media (max-width: $mobileWidth) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

img {
    max-width: 100%;
    width: auto;
}

b, strong {
    font-weight: bold;
}

hr {
    margin: 3em 10em 3em 10em;
    border-top: 1px solid $accent;

    @include dark-mode {
        border-top-color: $dark_accent;
    }
}

%nounderline {
    text-shadow: none;
    background-image: none;

    &:hover {
        color: $primary;
    }
}
@mixin underline($background) {
    text-shadow: .03em 0 $background,-.03em 0 $background,0 .03em $background,0 -.03em $background,.06em 0 $background,-.06em 0 $background,.09em 0 $background,-.09em 0 $background,.12em 0 $background,-.12em 0 $background,.15em 0 $background,-.15em 0 $background;
}
p {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }

    a:not(.nounderline):not([data-lightbox]):not(.button) {
        text-decoration: none;
        @include underline($block_bg);
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, $primary 1px, $primary 2px, rgba(0, 0, 0, 0) 2px);
        color: inherit;

        &:hover {
            background-image: none;
        }

        &[href*="//"]:not([href*="defendtheweb.net"]) {
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, $error 1px, $error 2px, rgba(0, 0, 0, 0) 2px);

            &:hover {
                color: $error;
            }
        }

        @include dark-mode {
            text-shadow: .03em 0 $dark_block_bg,-.03em 0 $dark_block_bg,0 .03em $dark_block_bg,0 -.03em $dark_block_bg,.06em 0 $dark_block_bg,-.06em 0 $dark_block_bg,.09em 0 $dark_block_bg,-.09em 0 $dark_block_bg,.12em 0 $dark_block_bg,-.12em 0 $dark_block_bg,.15em 0 $dark_block_bg,-.15em 0 $dark_block_bg;
        }
    }
}


ul {
    list-style-type: disc;

    &::marker {
        color: $text_subtle;
    }
}

blockquote {
    font-size: 1.1em;
    line-height: 1.4em;
    font-style: italic;
    margin-left: 0;
    margin-right: 0;

    p {
        margin: 0 !important;
    }
}


pre, code,
.CodeMirror .editor-preview pre {
    overflow: auto;
    white-space: pre;
    border: none;
    background: $secondary;
    color: white;

    font-family: $text_mono_font;

    a {
        text-shadow: none !important;
        color: white;
    }

    @include dark-mode {
        background: $dark_accent;
        color: $dark_text_subtle;
    }

    border-radius: 0;

    pre, code {
        background: none !important;
    }
}

pre,
.CodeMirror .editor-preview pre {
    display: block;
    padding: 1em;

    code {
        padding: 0;
        display: block;
    }
}

// Spoiler
blockquote > blockquote {
    margin: 0;
    font-style: normal;
    padding: 0.5em 1em;
    font-size: 0.9em;
    overflow: hidden;
    border-left: 2px solid $error;
    position: relative;

    &::after,
    &::before { 
        display: block;
        text-indent: 0;
    }

    &::before {
        content: "Spoiler";
        font-weight: bold;
    }

    &::after {
        position: absolute;
        font-style: italic;
        top: 0.5em;
        right: 1em;
        content: "click to show";
        font-size: 0.9em;
    }

    height: 2.6em;
    text-indent: -1000000px;

    cursor: pointer;

    .editor-preview &,
    &.active,
    html.no-js &:hover {
        height: auto;
        text-indent: 0;
        cursor: default;

        &::after,
        &::before {
            display: none;
        }

    }

    @include dark-mode {
        background: $dark_accent;
        color: $dark_text_subtle;
    }
}

.right {
    float: right;
}

.align-left {
    text-align: left;
} 

.align-right {
    text-align: right;
}

.small {
    font-size: 0.9em;
    color: $text_subtle;
    font-weight: normal;

    @include dark-mode {
        color: $dark_text_subtle;
    }

    h1 &,
    h2 &,
    h3 & {
        font-size: 0.5em;
    }
}

.c-white { color: white !important; }

.c-subtle {
    color: $text_subtle;

    @include dark-mode {
        color: $dark_text_subtle;
    }
}
.c-error { color: $error; }
.c-success { color: $success; }
.c-primary { color: $primary; }

.c-bronze { color: $medalBronze; }
.c-silver { color: $medalSilver; }
.c-gold { color: $medalGold; }
.c-green { color: $medalGreen; }


.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobile-show { 
    display: none !important;
}

@media (max-width: $mobileWidth) {
    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: block !important;
    }
}

.dark-show { 
    display: none !important;

    @include dark-mode {
        display: inline-block !important;
    }
}

.dark-hide {
    @include dark-mode {
        display: none !important;
    }
}

a {
    text-decoration: none;
    outline: 0;
    color: $link;

    &:hover {
        color: $primary;
    }

    &.c-secondary {
        color: $link;
    }

    @include dark-mode {
        color: $dark_link;

        &.c-secondary {
            color: $dark_link;
        }

        &:hover {
            color: $primary;
        }
    }

    &.back {
        display: inline-block;
        font-size: 1.1rem;
        margin-bottom: 4px;

        &:hover {
            text-decoration: none;
        }

        i {
            padding-right: 4px;
        }
    }
}

html.no-js a[href="#"],
html.no-js a[csrf] {
    display: none;
}


/**** PROGRESS BAR ****/
.progress {
    height: 20px;
    width: 100%;
    background-color: $accent;
    overflow: hidden;

    @include dark-mode() {
        background: $dark_accent;
    }

    &.progress--small {
        height: 4px;
    }

    .progress-bar {
        background-color: $primary;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}



/**** MESSAGE ****/
.msg {
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 10px 16px;

    background: $secondary;

    .close {
        float: right;
        font-size: 1.2em;
        line-height: 1.1em;
    }

    a {
        color: white;
        text-decoration: underline;

        &:hover {
            color: $primary;
        }
    }

    &.msg--success {
        background: $success;

        a:hover {
            color: $secondary;
        }
    }

    &.msg--error {
        background-color: $error;

        a:hover {
            color: $secondary;
        }
    }
}


/**** COOKIES ****/
.cookies {
    background: $secondary;
    bottom: 0;
    color: white;
    padding: 0;
    position: fixed;
    left: 0;
    max-width: 350px;
    margin: 20px;
    padding: 20px;
    font-size: 1.3rem;
    border-radius: 4px;
    z-index: 5000;

    @include dark-mode() {
        background: $dark_overlay_bg;
    }

    @media (max-width: $mobileWidth) {
        margin: 5px;
        max-width: none;
    }

    p a {
        text-shadow: none !important;
    }

    a.button {
        margin-top: 0;
        margin-bottom: 0;
    }
}

body.sidebar .cookies {
    left: $sidebar_width;

    @media (max-width: $desktopWidth) {
        left: 0;
    }
}


/**** LOGS ****/
.page-logs {
    background: #333;
    bottom: 20px;
    color: white;
    padding: 0;
    position: fixed;
    right: 20px;

    ul {
        list-style: none;
        margin: 0;

        li {
            margin: 0;
            padding: 4px 8px;

            &:nth-child(2n) {
                background: #444;
            }
        }
    }
}



/**** IFRAME ****/
iframe {
    border: none;
}

.video {
    display: block;
    position: relative;
    padding-bottom: 42.1875%;
    padding-top: 25px;
    height: 0;

    margin: 2em auto;
    width: 75%;

    &.video--placeholder {
        background-size: cover;
        background-position: center;
        cursor: pointer;

        &::before,
        &::after {
            @extend %fa-icon;
            @extend .fas;
            content: fa-content($fa-var-play-circle);
            text-shadow: none;

            position: absolute; 
            width: 100px;
            height: 100px;
            top: 50%;
            margin-top: -50px;
            left: 50%;
            margin-left: -50px;
            font-size: 100px;
            color: $secondary;
            border-radius: 50%;
        }

        &::before {
            content: fa-content($fa-var-circle);
            transform: scale(0.8);
            color: white;
            opacity: 0.8;
        }

        &:hover::after {
            color: $primary;
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/**** EMOJI ****/
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}