ul {
    &.clean {
        list-style: none;

        margin-bottom: 0;

        li:last-child {
            margin-bottom: 0;
        }
    }

    &.list {
        margin: 0;
        padding: 0;
        list-style: none;

        > li {
            // padding: 20px 16px;
            margin: 0;
            border-top: 1px solid $accent;

            padding: 10px 5px;
            // overflow: hidden; // popups

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            @include dark-mode {
                border-top-color: $dark_accent;
            }

            &:first-child {
                border: none;
            }

            > .block {
                margin-bottom: 0 !important;
            }
        }

        &.list--flex {
            li {
                display: flex;
                align-items: center;

                div {
                    img {
                        display: block;
                    }

                    &.list-subject {
                        font-size: 1.1em;
                        flex-grow: 1;
                    }

                    &:not(:first-child) {
                        margin-left: 1em;
                    }
                }
            }
        }
    }
}