.medal-progress {
    width: 175px;

    .small {
        line-height: 1em;
        padding: 9px 0 3px;
        font-size: 0.9em;

        &.right {
            font-size: 0.8em;
            padding: 10px 0 4px;
        }
    }

    .medal-progress-medal::before {
        content: "";
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 9px;
    }

    &.medal-progress--bronze {
        .progress-bar,
        .medal-progress-medal::before {
            background: $medalBronze;
        }
    }

    &.medal-progress--silver {
        .progress-bar,
        .medal-progress-medal::before {
            background: $medalSilver;
        }
    }

    &.medal-progress--gold {
        .progress-bar,
        .medal-progress-medal::before {
            background: $medalGold;
        }
    }

    &.medal-progress--green {
        .progress-bar,
        .medal-progress-medal::before {
            background: $medalGreen;
        }
    }
}

ul.medal-list {
    > li {
        padding-top: 20px;
        padding-bottom: 20px;

        ul {
            margin: 0;
            list-style: none;

            li {
                border: 0;
                padding-bottom: 0;
                display: flex;

                div {
                    flex: 1 1 auto;
                }

                .medal-progress {
                    flex: 0 0 auto;
                    margin-top: -7px;
                }

                @media (max-width: $mobileWidth) {
                    flex-direction: column;
                    padding-top: 20px;

                    .medal-progress {
                        width: 100%;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}