body.messages {
    .messages {
        position: fixed;
        left: $sidebar_width;
        top: $header_height;
        bottom: 0;
        right: 0;

        display: flex;

        .messages-sidebar {
            flex-grow: 0;
            flex-shrink: 0;
            width: 350px;
            background: $block_bg;

            display: flex;
            flex-direction: column;

            .messages-list-nav {
                background: $header_secondary_bg;
                flex: 0 0 3em;
                height: 1em;
                line-height: 1em;

                a {
                    color: white;
                    float: left;
                    padding: 1em;

                    &.messages-list-nav-next {
                        float: right;
                    }
                }
            }

            .messages-list {
                overflow-y: auto;
                flex: 1;

                @include dark-mode {
                    background: $dark_block_bg;
                    color: white;

                    .small {
                        color: white;
                    }
                }

                .messages-list-item {
                    background: none;
                    border-top: 1px solid rgba(0, 0, 0, 0.1);
                    padding: 10px 20px;
                    cursor: pointer;
                    display: flex;
                    color: $text;

                    &:hover {
                        background: $header_secondary_bg;
                        color: white;

                        .small {
                            color: white;
                        }
                    }

                    @include dark-mode {
                        color: white;
                    }

                    .messages-list-item-preview {
                        flex: 1;

                        .messages-list-item-preview-header {
                            display: flex;
                            align-items: center;
                            font-size: 1em;

                            strong {
                                flex: 1;
                            }
                        }

                        p {
                            margin: 5px 0;
                        }
                    }

                    &.messages-list-item--new {
                        background: $primary;
                        color: white;

                        &:hover {
                            background: $primary_hover;
                        }

                        .small {
                            color: white;
                        }

                        .messages-list-item-preview-header .messages-list-item-new {
                            display: block;
                        }
                    }

                    &.messages-list-item--active {
                        background: $secondary;
                        color: white;

                        .small {
                            color: white;
                        }
                    }

                }
            }
        }


        .messages-conversation {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            .messages-conversation-blank {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                justify-content: center;
            }

            .messages-conversation-header {
                background: $header_secondary_bg;
                padding: 1em 2em;
                z-index: 50;
                width: 100%;

                @media (max-width: $mobileWidth) {
                    padding: 1em;
                }

                color: white;

                display: flex;
                align-items: center;

                .messages-conversation-participants {
                    flex: 1;
                    display: flex;
                    align-items: center;

                    img {
                        margin-right: 1rem;
                    }

                    > a {
                        font-size: 1.3em;
                    }

                    a {
                        color: white;

                        .small {
                            color: inherit;
                        }

                        &:hover {
                            color: $primary;
                        }
                    }

                    .tag {
                        font-size: 0.8em;
                        margin-left: 1rem;
                    }
                }

                .messages-conversation-controls {
                    a {
                        color: white;

                        @media (max-width: $mobileWidth) {
                            padding: 1em;

                            &::before,
                            &::after {
                                display: none;
                            }

                            i {
                                padding: 0;
                            }
                        }
                    }
                }
            }

            .messages-conversation-content {
                flex: 1 1 auto;
                padding: 20px;
                overflow-y: auto;

                position: relative;
                align-items: center;
                display: flex;
                flex-direction: column;

                > * {   
                    width: 100%;
                    max-width: 900px;
                }

                .messages-conversation-messages {
                    margin-bottom: 5em;

                    .messages-conversation-message {
                        margin-right: 10em;
                        padding: 1em;
                        background: $block_bg;
                        border-radius: 5px;
                        margin-top: 3em;
                        position: relative;

                        @include dark-mode {
                            background: $dark_block_bg;
                            color: white;
                        }

                        @media (max-width: $mobileWidth) {
                            margin-right: 0em;
                        }

                        .messages-conversation-message-meta {
                            margin-bottom: 1em;

                            a {
                                font-size: 1.2em;
                            }
                        }

                        p {
                            margin-bottom: 1.5em;

                            &:last-of-type {
                                margin-bottom: 2em;
                            }
                        }

                        .messages-conversation-message-avatar {
                            width: 50px;
                            height: 50px;
                            background-size: cover;
                            background-position: center;
                            position: absolute;
                            left: -15px;
                            bottom: -15px;
                            border-radius: 50%;
                            border: 4px solid $page_bg;

                            @include dark-mode {
                                border-color: $dark_page_bg;
                            }
                        }

                        &.messages-conversation-message--you {
                            margin-right: 0;
                            margin-left: 10em;

                            background: $secondary !important;
                            color: white;

                            @media (max-width: $mobileWidth) {
                                margin-left: 0em;
                            }

                            a {
                                color: white;

                                .small {
                                    color: white;
                                }
                            }

                            p {
                                a {
                                    @include underline($secondary);
                                }
                            }

                            .messages-conversation-message-avatar {
                                right: -15px;
                                left: auto;
                            }
                        }
                    }
                }

                form {
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media (max-width: $desktopWidth) {
    body.messages--list {
        .messages {
            position: static;
            flex-direction: column-reverse;

            .messages-conversation {
                margin: 3em 0;
            }

            .messages-list {
                width: 100%;
            }
        }
    }

    body.messages--conversation {
        .messages {
            position: static;
            flex-direction: column;

            .messages-list {
                display: none;
            }
        }
    }
}