.tag {
    display: inline-block;

    &.tag--red,
    &.tag--error {
        background: $error;
        color: white;
    }

    &.tag--green,
    &.tag--primary,
    &.tag--success {
        background: $primary;
        color: white;
    }

    &.tag--secondary {
        background: $secondary;
        color: white;
    }

    &.tag--secondary-alt {
        background: $secondary_hover;
        color: white;
    }

    &.tag--bronze {
        background: $medalBronze;
        color: white;
    }

    &.tag--silver {
        background: $medalSilver;
        color: white;
    }

    &.tag--gold {
        background: $medalGold;
        color: white;
    }

    padding: 0 0.5em 0.1em;
    font-size: 0.8em;
    border-radius: 5px;
    margin-left: 0.5em;
}