$text_font: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text_mono_font: 'Anonymous Pro', monospace, Courier;
$text_header_font: "Orbitron", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$fa-font-path: "/vendor/fontawesome/webfonts";

$padding: 1.5rem;

$medalBronze: #c27b35;
$medalSilver: silver;
$medalGold: #FBB829;
$medalGreen: #4caf50;

$success: #4caf50;
$error: #C83D2F;

$mobileHeight: 700px;
$mobileWidth: 700px;
$desktopWidth: 1100px;

$primary: #3d8b40;

$success: $primary;

$primary_hover: lighten($primary, 5%);
$secondary: #242F3F;
$secondary_hover: lighten($secondary, 5%);

// Light mode colours
$accent: #eee;
$secondary_light: #11171f;


$block_bg: white;
$block_bg_secondary: #F9F9F9;
$block_shadow: 0 3px 7px rgba(0, 0, 0, 0.025);

$page_bg: #F9F9F9;

$overlay_bg: white;

$header_bg: #2d3b4f;
$header_height: 40px;
$header_overlay: $secondary;
$header_secondary_bg: #3f4d62;

$sidebar_bg: #242F3F;
$sidebar_border: none;
$sidebar_width: 220px;
$sidebar_overlay: #2d3b4f;


$text: #222;
$text_subtle: #666;
$text_header: #eeeeee;

$link: #495f80;



// Dark mode colours
$dark_accent: rgba(255, 255, 255, 0.05);
$dark_secondary_light: black;

$dark_block_bg: #1e1e1e;
$dark_block_bg_secondary: #353535;
$dark_block_shadow: none;

$dark_page_bg: #121212;

$dark_overlay_bg: #000000;

$dark_header_bg: transparentize($dark_block_bg, 0.3);
$dark_header_overlay: $dark_block_bg_secondary;

$dark_sidebar_bg: $dark_page_bg;
$dark_sidebar_border: 1px solid $dark_accent;
$dark_sidebar_overlay: $dark_header_bg;

$dark_text: #dddddd;
$dark_text_subtle: #999;
$dark_text_header: #eeeeee;

$dark_link: #FFFFFF;


@mixin keyframe ($animation) {
    @-webkit-keyframes #{$animation} {
        @content;
    }

    @-moz-keyframes #{$animation} {
        @content;
    }

    @-o-keyframes #{$animation} {
        @content;
    }

    @keyframes #{$animation} {
        @content;
    }
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin dark-mode() {
    html.dark-mode & {
        @content;
    }
}