{% set queue = queue('classes', 'sidebar', 'discussion', 'moderation') %}
{% set queue2 = queue('scripts', '/js/discussions.min.js') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container">
        <div class="row">
            <div class="twelve columns discussion-thread">
                {% include 'includes/flash.twig' %}

                <h3>Queue | {{ item.title }}</h3>
                {{ item.description }}

                <h1><a href='{{ item.thread.title }}'>{{ item.thread.title }}</a></h1>

                {% if fullThread %}
                    {% set posts = item.thread.posts %}
                {% else %}
                    {% set rangeStart = (item.target - 2 > 0) ? item.target - 2 : 0 %}
                    {% set posts = item.thread.posts|slice(rangeStart, 5) %}
                {% endif %}

                {% for post in posts %}
                    {% include 'discussions/post.twig' %}
                {% endfor %}

                {% if not fullThread %}
                    <a href='?full#post-{{ item.flag.post_id }}' class='button button--wide button--main'>View full thread</a>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}