{% set queue = queue('classes', 'sidebar', 'help') %}
{% extends 'layout/main.twig' %}


{% block content %}
    <div id="content" class="container">

        <div class="row">
            {% set itemPerColumn = (index|length / 3)|round(0, 'ceil') %}

            {% for batch in index|batch(itemPerColumn) %}
                <div class="columns four">
                    {% for title, pages in batch %}
                        {% if title %}
                            <div class="block">
                                <div class="block-heading">
                                    <h2>{{ title }}</h2>
                                </div>
                                <div class="block-content">
                                    <ul class="clean">
                                        {% for page in pages %}
                                            <li>
                                                <a href='{{ page.permalink }}'>{{ page.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="block">
            <div class="block-content">
                Can't find what you are looking for? <a href='/help/contact'>Contact us</a>
            </div>
        </div>
    </div>
{% endblock %}