<div class="{% if form.block %}block{% endif %}">
    {% if form.title and not form.hideTitle %}  
        <div class="{% if form.block %}block-heading{% endif %}">
            {% if controls %}
                <div class="right button-group button-group--small">
                    {% for control in controls %}
                        <a href="{{ control.href }}" target="_blank" class="button button--secondary button--background">{{ control.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <h2>{{ form.title }}</h2>
        </div>
    {% endif %}
    <div class="{% if form.block %}block-content{% endif %}">
        <form
            class="form--{{ form.slug }}"
            {% if form.action %}action="{{ form.action }}"{% endif %}
            {% if form.method %}method="{{ form.method }}"{% endif %}
            enctype="multipart/form-data"
            {% if form.draft %}data-draft="{{ form.draft }}"{% endif %}
        >
            {% if form.description %}<p>{{ form.description|raw }}</p>{% endif %}

            {% if showFlash %}
                {% include 'includes/flash.twig' with { group: (showFlash != true ? showFlash : null) } %}
            {% endif %}

            {% for field in form.fields %}
                {% if field.groupStart %}
                    <div class="row">
                {% endif %}

                    {% if field.columns %}
                        <div class="{{ field.columns }} columns">
                    {% endif %}

                        <div class="input input--{{ field.type }} {{ field.prepend ? 'input--prepend' : '' }}" data-group="{{ field.name }}">
                            {% if field.type == 'toggle' %}
                                <div class="button-group right toggle">
                                    {% if field.options %}
                                        {% for value, option in field.options %}
                                            <input type="radio" name="{{ field.name }}" class="button" value="{{ value }}" data-label="{{ option }}"  {% if field.value == value %}checked{% endif %}/>
                                        {% endfor %}
                                    {% else %}
                                        <input type="radio" name="{{ field.name }}" class="button" value="1" data-label="On" {% if field.value == 1 %}checked{% endif %}/>
                                        <input type="radio" name="{{ field.name }}" class="button" value="0" data-label="Off" {% if field.value == 0 %}checked{% endif %}/>
                                    {% endif %}
                                </div>
                            {% endif %}


                            {% if field.type != 'hidden' and field.hideLabel != true %}<label for="{{ field.name }}">{{ field.label|raw }}</label>{% endif %}
                            {% if field.description %}
                                <p class="input-description">{{ field.description|raw }}</p>
                            {% endif %}


                            {% if field.type == 'image' %}
                                <img src="{{ field.src }}"/>
                            {% elseif field.type == 'upload' %}
                                {% if field.src %}
                                    <div class="form-image-preview">
                                        <div class="form-image-preview-remove">x</div>
                                        {{ getImage(field.src, field.size)|raw }}
                                    </div>
                                {% endif %}
                                {% if field.type == 'upload' %}
                                    <input type="file" name="{{ field.name }}" />
                                {% endif %}
                            {% elseif field.type == 'textarea' %}
                                <textarea name="{{ field.name }}" id="{{ field.name }}">{{ field.value }}</textarea>
                            {% elseif field.type == 'select' %}
                                <select name="{{ field.name }}" id="{{ field.name }}">
                                    {% for value, option in field.options %}
                                        <option value="{{ value }}" {% if field.value == value %}selected{% endif %}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                            {% elseif field.type == 'repeater' %}
                                {% if field.values %}
                                    {% for row in field.values %}
                                        <div class="row">
                                            {% for key, value in field.fields %}
                                                <div class="six columns">
                                                    <label for="{{ field.name }}[loop.parent.index0][{{ key }}]">{{ value|raw }}</label>
                                                    <input type="text" name="{{ field.name }}[loop.parent.index0][{{ key }}]" id="{{ field.name }}[loop.parent.index0][{{ key }}]" data-name="{{ key }}" value="{{ attribute(row, key) }}" />
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                        {% for key, value in field.fields %}
                                            <div class="six columns">
                                                <label for="{{ field.name }}[0][{{ key }}]">{{ value|raw }}</label>
                                                <input type="text" name="{{ field.name }}[0][{{ key }}]" id="{{ field.name }}[0][{{ key }}]" data-name="{{ key }}" />
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <a href="#" class="add-row right"><i class="fas fa-plus"></i> Add row</a>
                            {% elseif field.type == 'markdown' %}
                                <div class="markdown-editor row">
                                    <textarea name="{{ field.name }}" placeholder="{{ field.placeholder ? field.placeholder : 'Type your ' ~ field.label|lower ~ ' here' }}">{{ field.value }}</textarea>
                                </div>
                            {% elseif field.type != 'toggle' %}
                                {% if field.prepend %}
                                    <span>{{ field.prepend }}</span>
                                {% endif %}
                                <input type="{{ field.type ? field.type : 'text' }}" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.value }}" maxlength="{{ field.maxlength }}" placeholder="{{ field.placeholder }}" class="u-full-width" {{ field.autocomplete ? 'autocomplete="off" data-autocomplete' : '' }}/>
                            {% endif %}
                        </div>

                    {% if field.columns %}
                        </div>
                    {% endif %}

                {% if field.groupEnd %}
                    </div>
                {% endif %}
            {% endfor %}

            {% if form.footer %}<p>{{ form.footer|raw }}</p>{% endif %}

            <button type="submit" class="button button--main right">{{ form.submit|raw }}</button>
        </form>
    </div>
</div>
{% set temp = form.clearResponses() %}