<div class="nav-mobile mobile-show">
    <a href="/dashboard">
        <i class="fa fa-home"></i>
        Dashboard
    </a>
    <a href="/articles">
        <i class="fa fa-book"></i>
        Articles
    </a>
    <a href="/playground">
        <i class="fa fa-flask"></i>
        Playground
    </a>
    <a href="/discussions">
        <i class="fa fa-comment"></i>
        Discussions
    </a>
    <a href="#" class="show-sidebar">
        <i class="fa fa-ellipsis-v"></i>
        More
    </a>
</div>