{% set queue = queue('classes', 'sidebar', 'help') %}
{% extends 'layout/main.twig' %}

{% block content %}
    <div id="content" class="container container--wide profile">
        <div class="block">
            <div class="block-heading">
                <h1>Privacy Policy</h1>
            </div>
            <div class="block-content">

                  <p>Our Privacy Policy was posted on 8 June 2014 and last updated on 23 May 2018. It governs the privacy terms of our website, located at <a href="http://defendtheweb.net">defendtheweb.net</a>, and the tools we provide you (the “Website” or the “Service”).</p>
                  <h2><a id="Your_Privacy_3"></a>Your Privacy</h2>
                  <p>Our Website follows all legal requirements to protect your privacy. Our Privacy Policy is a legal statement that explains how we may collect information from you, how we may share your information, and how you can limit our sharing of your information. You will see terms in our Privacy Policy that are capitalized. These terms have meanings as described in the Definitions section below.</p>
                  <h2><a id="Definitions_6"></a>Definitions</h2>
                  <ul>
                  <li>Personal Data: Personal Data means data about a living individual who can be identified from those data (or from those and other information either in our possession or likely to come into our possession).</li>
                  <li>Usage Data: Usage Data is data collected automatically either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</li>
                  <li>Cookies: Cookies are small pieces of data stored on a User’s device.</li>
                  <li>Data Controller: Data Controller means a natural or legal person who (either alone or jointly or in common with other persons) determines the purposes for which and the manner in which any personal data are, or are to be, processed. For the purpose of this Privacy Policy, we are a Data Controller of your data.</li>
                  <li>Data Processors (or Service Providers): Data Processor (or Service Provider) means any natural or legal person who processes the data on behalf of the Data Controller. We may use the services of various Service Providers in order to process your data more effectively.</li>
                  <li>Data Subject: Data Subject is any living individual who is the subject of Personal Data.</li>
                  <li>User: The User is the individual using our Service. The User corresponds to the Data Subject, who is the subject of Personal Data.</li>
                  </ul>
                  <h2><a id="Information_Collection_And_Use_15"></a>Information Collection And Use</h2>
                  <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
                  <h3><a id="Types_of_Data_Collected_18"></a>Types of Data Collected</h3>
                  <p><strong>Personal Data</strong><br>
                  While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you (“Personal Data”). Personally identifiable information may include, but is not limited to: Email address, Name, City, Cookies and Usage Data.</p>
                  <p>We may use your Personal Data to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</p>
                  <p><strong>Usage Data</strong><br>
                  We may also collect information how the Service is accessed and used (“Usage Data”). This Usage Data may include information such as your computer’s Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
                  <p><strong>Tracking &amp; Cookies Data</strong><br>
                  We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
                  <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
                  <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
                  <p>Examples of Cookies we use: session cookies (we use these cookies to operate our Service) and preference cookies (we use these cookies to remember your preferences and various settings).</p>
                  <h2><a id="Use_of_Data_37"></a>Use of Data</h2>
                  <p>We use the collected data for various purposes:</p>
                  <ul>
                  <li>To provide and maintain our Service</li>
                  <li>To notify you about changes to our Service</li>
                  <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                  <li>To provide customer support</li>
                  <li>To gather analysis or valuable information so that we can improve our Service</li>
                  <li>To monitor the usage of our Service</li>
                  <li>To detect, prevent and address technical issues</li>
                  </ul>
                  <h2><a id="Retention_of_Data_47"></a>Retention of Data</h2>
                  <p>We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>
                  <p>We will also retain Usage Data for internal analysis purposes. Usage Data is generally retained for a shorter period of time, except when this data is used to strengthen the security or to improve the functionality of our Service, or we are legally obligated to retain this data for longer time periods.</p>
                  <h2><a id="Transfer_Of_Data_52"></a>Transfer Of Data</h2>
                  <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
                  <p>We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>
                  <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
                  <h2><a id="Disclosure_Of_Data_59"></a>Disclosure Of Data</h2>
                  <ul>
                  <li>Business Transaction. If we are involved in a merger, acquisition or asset sale, your Personal Data may be transferred. We will provide notice before your Personal Data is transferred and becomes subject to a different Privacy Policy.</li>
                  </ul>
                  <h2><a id="Security_Of_Data_62"></a>Security Of Data</h2>
                  <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
                  <h2><a id="Legal_Basis_for_Processing_Personal_Data_Under_General_Data_Protection_Regulation_GDPR_65"></a>Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)</h2>
                  <p>If you are from the European Economic Area (EEA), Defend the Web legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it.</p>
                  <p>Defend the Web may process your Personal Data because:</p>
                  <ul>
                  <li>We need to perform a contract with you</li>
                  <li>You have given us permission to do so</li>
                  <li>The processing is in our legitimate interests and it’s not overridden by your rights</li>
                  <li>For payment processing purposes</li>
                  <li>To comply with the law</li>
                  </ul>
                  <h2><a id="Your_Data_Protection_Rights_Under_General_Data_Protection_Regulation_GDPR_75"></a>Your Data Protection Rights Under General Data Protection Regulation (GDPR)</h2>
                  <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. Defend the Web aims to take reasonable steps to allow you to correct, amend, delete, or limit the use of your Personal Data.</p>
                  <p>If you wish to be informed what Personal Data we hold about you and if you want it to be removed from our systems, please contact us.</p>
                  <p>In certain circumstances, you have the following data protection rights:</p>
                  <ul>
                  <li>The right to access, update or to delete the information we have on you.</li>
                  <li>The right of rectification. You have the right to have your information rectified if that information is inaccurate or incomplete.</li>
                  <li>The right to object. You have the right to object to our processing of your Personal Data.</li>
                  <li>The right of restriction. You have the right to request that we restrict the processing of your personal information.</li>
                  <li>The right to data portability. You have the right to be provided with a copy of your Personal Data in a structured, machine-readable and commonly used format.</li>
                  <li>The right to withdraw consent. You also have the right to withdraw your consent at any time where Defend the Web relied on your consent to process your personal information.</li>
                  </ul>
                  <p>Please note that we may ask you to verify your identity before responding to such requests.</p>
                  <p>You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).</p>
                  <h2><a id="Service_Providers_93"></a>Service Providers</h2>
                  <p>We may employ third party companies and individuals to facilitate our Service (“Service Providers”), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
                  <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
                  <h3><a id="Payments_109"></a>Payments</h3>
                  <p>We may provide paid products and/or services within the Service. In that case, we use third-party services for payment processing (e.g. payment processors).</p>
                  <p>We will not store or collect your payment card details. That information is provided directly to our third-party payment processors whose use of your personal information is governed by their Privacy Policy. These payment processors adhere to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, Mastercard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of payment information.</p>
                  <h2><a id="Links_To_Other_Sites_114"></a>Links To Other Sites</h2>
                  <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
                  <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
                  <h2><a id="Childrens_Privacy_120"></a>Children’s Privacy</h2>
                  <p>Our Service does not address anyone under the age of 13 (“Children”).</p>
                  <p>We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p>
                  <h2><a id="Changes_To_This_Privacy_Policy_127"></a>Changes To This Privacy Policy</h2>
                  <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
                  <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the “effective date” at the top of this Privacy Policy.</p>
                  <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
                  <h2><a id="Contact_Us_134"></a>Contact Us</h2>
                  <p>If you have any questions about this Privacy Policy, please contact us by using the contact information we provided on our <a href='/help/contact'>Contact page</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}